<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resposta</title>
    <link href="../getposttemplate/style.css" rel="stylesheet">
</head>
<body>
    <h1>Resposta para o usuário:</h1>

    <p>Nome: <%= nome %> </p>
    <p>Sobrenome: <%= sobrenome %> </p>
    <p>Nascimento: <%= nascimento %> </p>
    <p>Estado civil: <%= civil %> </p>
</body>
</html>