body{
    background-color: #1e293b;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    display: flex;  
    background-color: #b45309;
    align-items: flex-start;
    height: 400px;
}

.item{
    background-color: #f59e0b;
    padding: 10px;
    margin: 10px;

}
.item1{
    background-color: #f59e0b;
    padding: 10px;
    margin: 10px;
    flex: 0 0 100px;   

}


